@media (max-width: 768px){
 html{
  background-image: linear-gradient(#fc5e55, #fa4083 );
  background-repeat: no-repeat;
  min-height: 1024px;

 }
  body{
  margin: 0;
  background-image: url(ASSETS/images/image-lion-background.png);
  background-position: top center;
  background-repeat: no-repeat;
  /* min-height: 1200px; */
  color: white;
  }

 header{
  width: 100%; 
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(238, 216, 216, 0.678);
 }

 .headerlink{
  display: flex;
  justify-content: space-between;
  margin: auto 5px auto 0px;
 }

 .headerlink div a{
  border: 1px solid white;
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:"wdth" 100;
 }

 a{
  margin: 0 5px;
  text-decoration: none;
  color: white;
  padding: 10px 15px;
 }

 .logo{
  margin-left: 15px;
 }

 .firstwrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 10px;
 }

 .herobox1{
  flex: 70%;
 }

 .herobox1 p{
  line-height: 18px;
  font-size: 16px;
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 }

 .herobox2 img {
  width: 95%;
 }

 h1{
  font-size: 2.5rem;
  margin-bottom: 10px;
 }

 .book-online{
  color: #fc5e55;
  background-color: white;
  padding: 10px 15px;
  margin-top: 130px;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.813rem;
 }

  .bookonline{
    margin-top: 20px;
  }

  .cards{
    display: flex;
    justify-content: space-between;
    margin: 40px 10px 0 10px;
  }

  .card1{
    background-image: url(ASSETS/images/image-background-card1.jpg);
    width: 32%;
    background-size: cover;
    min-height: 200px;
    background-position: bottom;
    text-align: center;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-top: 30px;
  }

  .card2{
     background-image: url(ASSETS/images/image-background-card2.jpg);    width: 32%;
    background-size: cover;
    min-height: 200px;
    background-position: bottom;
    text-align: center;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-top: 30px;

  }

  .card3{
    background-image: url(ASSETS/images/image-background-card3.jpg);
    width: 32%;
    background-size: cover;
    min-height: 200px;
    background-position: bottom;
    text-align: center;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
     padding-top: 30px;
   
  }

  i{
    font-size: 3.12rem;
  }

  .mainword{
    margin: 10px 0;
    font-size: 30px;
  }

  .testimonials{
    margin: 50px 10px 100px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .testimonials div{
   border: 1px solid white;
    width: 47%;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 50px;
  }

  .testimonials div p:last-child{
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
  }
}